{
    "printWidth": 200,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "plugins": ["prettier-plugin-svelte"],
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false
}
